@import "vars";
@import "libs";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");
@import "global";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333743;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 20px;
  line-height: 1.35em;
  letter-spacing: 0.035em;
}

h2.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.35em;
  letter-spacing: 0.035em;
}

h3 {
  font-size: 36px;
  line-height: 1.35em;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 1.35em;
  font-weight: 700;
}

section {
  padding-top: 100px;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.head {
  position: relative;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-bottom: 50px;
  p {
    margin-top: 5px;
  }
  &::after {
    content: "";
    position: absolute;
    left: -77.5px;
    width: 145px;
    height: 145px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(54.29deg, #c6c1ff 13.24%, #fec1ff 92.49%);
    z-index: -1;
    border-radius: 100px;
  }
}

// header
.header {
  &__panel {
    display: flex;
    padding: 30px 0;
  }
  &__logo {
    margin-right: auto;
    height: 55px;
    img {
      width: 100%;
    }
  }
  &__nav {
    margin-right: 120px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-inner {
      display: none;
    }
    ul:not(&-inner) {
      display: flex;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__mail {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  &__offer {
    padding-top: 84px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    &-content {
      max-width: 650px;
      width: 100%;
      h1 {
        font-weight: 900;
        font-size: 59px;
        line-height: 1.35em;
        letter-spacing: 0.035em;
        margin-bottom: 25px;
      }
      p {
        font-size: 24px;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }
}

// services
.services {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  &__item {
    padding: 70px 25px 0;
    margin: 20px;
    width: calc(33.33333% - 40px);
    box-shadow: 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    h4 {
      margin-bottom: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(54.29deg, #c6c1ff 13.24%, #fec1ff 92.49%);
      opacity: 0;
      transition: 0.3s all ease;
    }
    &-img {
      width: 125px;
      height: 125px;
      background: url("../img/icons/services/1.png") no-repeat center center /
        cover;
      margin-top: auto;
      margin-left: auto;
    }
    &:hover {
      border-color: transparent;
      &::after {
        opacity: 1;
      }
      .services__item-img {
        background-image: url("../img/icons/services/hover/1.png");
      }
    }
    &:nth-child(1) {
      padding: 90px 60px 0;
      width: calc(100% - (33.33333% + 40px));
      & .services__item-img {
        width: 167px;
        height: 167px;
      }
      p {
        max-width: 505px;
      }
    }
    &:nth-child(2) {
      & .services__item-img {
        background-image: url("../img/icons/services/2.png");
      }
      &:hover {
        .services__item-img {
          background-image: url("../img/icons/services/hover/2.png");
        }
      }
    }
    &:nth-child(3) {
      & .services__item-img {
        background-image: url("../img/icons/services/3.png");
      }
      &:hover {
        .services__item-img {
          background-image: url("../img/icons/services/hover/3.png");
        }
      }
    }
    &:nth-child(4) {
      & .services__item-img {
        background-image: url("../img/icons/services/4.png");
      }
      &:hover {
        .services__item-img {
          background-image: url("../img/icons/services/hover/4.png");
        }
      }
    }
    &:nth-child(5) {
      & .services__item-img {
        background-image: url("../img/icons/services/5.png");
      }
      &:hover {
        .services__item-img {
          background-image: url("../img/icons/services/hover/5.png");
        }
      }
    }
  }
}

// info
.info {
  display: flex;
  gap: 50px;
  &__item {
    position: relative;
    padding: 30px;
    padding-top: 0;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 202px;
      height: 202px;
      background: url("../img/icons/color-border.svg") no-repeat center center /
        cover;
    }
    h3 {
      font-weight: 600;
      font-size: 125px;
      line-height: 1.35em;
    }
  }
}

// blog
.section-blog {
  padding-bottom: 100px;
}

.blog {
  display: flex;
  gap: 40px;
  &__item {
    width: 100%;
    padding: 70px 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 55%;
      height: 18px;
      background: linear-gradient(54.29deg, #c6c1ff 13.24%, #fec1ff 92.49%);
    }
    &::after {
      top: unset;
      bottom: 0;
      left: unset;
      right: 0;
    }
    h4 {
      margin-bottom: 15px;
    }
  }
}

// footer
.footer {
  padding: 50px 0;
  background: #f5f5f5;
  text-align: center;
}

@import "media";
